.sideBar_bg{
    -fx-background-color: #1C1C1C;
}

.mainPane_bg{
    -fx-background-color:aaaaaa;
}

.side-button{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-padding: 6 14 6 14;
    -fx-border-color: rgba(255,255,255,0.7);
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.30), 12, 0.3, 0, 3),
                innershadow(gaussian, rgba(0,0,0,0.15), 4, 0.3, 0, 1);
    -fx-cursor: hand;
}

